<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>
<%=@student.name%>
<%=@student.fname%>
<%=@student.gender%>
<%=@student.dob%>
<%=@student.standard%>
<%=link_to "Marks"%>
<%=link_to "All students list", students_path%>