<!DOCTYPE html>
<html>
  <head>
    <title>University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet">

     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/bootstrap.min.js"></script>
     </head>
  <body>
    <div class="container">
    <%if signed_in? %>
    <ul class="nav nav-pills">
  <li class="active"><%=link_to 'Students', students_path%></li>
  <li><%=link_to 'Teachers', teachers_path%></li>
  <li class="dropdown">
    <%= link_to students_path, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} do %>Profile <b class="caret"></b>
      <% end %>
   
    <ul class="dropdown-menu">
      <li><%=link_to :logout, destroy_user_session_path%></li>
      <li><%=link_to "Update Profile", edit_student_path(current_user.id), :remote => true%></li>
    </ul>
  </li>
  </ul>
    
    <%end%>
    <br>
    <div id="mainpage">
      <%=yield%>
    </div>
  </div>
    
    </body>

</html>